
nav, .footer{
  background-color: #3f4145;
  /* height:60px; */
  /* width:auto; */

}

body{
  background-color:#f3f3f3ce;
}

nav ul {
  float: right;
  display: flex;
  margin: 1.2rem 4rem 1rem 0;
  /* position: relative; */
  bottom: 4rem;
  /* /* padding: 0.5rem 0; */
}

nav ul li{
 
  list-style-type:none;
  margin-right: 1rem;
  /* padding-top:0.5rem; */
  color:white;
}

.search{
  width:"80%";
   margin:"0 auto";
    padding:"20px";
}

.jumbotron {
  height:38rem;
  background:url("./images/teach7.jpg") no-repeat;
  background-position: center center;
  /* background-color: rgba(0, 0, 0, 0.828);  */
  background-size: 100% 100%;

 } 


.textbox{
  background-color: rgba(91, 83, 83, 0.3);
  float:right;
  max-width:30%;
  position:relative;
  top:2rem;
  right:8rem;
  width:auto;
  padding: 4rem 2rem 5rem 2rem;
  text-align:center;
}

.textbox h2{

  color:white;
  padding: 0 2rem
}

.textbox button {
  position:relative;
  top:1rem;
  width: 50%;
  background-color: #f01662;
  border:none;
  color:white;
  padding: 1rem 0;
  border-radius: 4rem;
}

.profile{
  display:"flex"; 
  margin-top:"2rem";
  background-color:"white";
  width:"auto";
   padding:"10rem";
   
}

.footer{
  background-color: #3f4145;
  height:5rem;
  width:100%;
  text-align:center;
  position: relative;
  top:5rem;
 
}

.footer p{
  color:white;
   padding-top:1.5rem
}




@media screen and (max-width: 760px) {
 body{
   width:100%;
 }
  .textbox{
    display:none;
  }

  .jumbotron{
    height:15rem
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
