
nav, .footer{
  background-color: #3f4145;
  height:50px;
  width:auto;
  margin-bottom: 2rem;
}


nav ul {
  float:right;
  display:flex;
  padding-right:50px;
}

nav ul li{
 
  list-style-type:none;
  margin: 1rem;
  padding-top:0.5rem;
  color:white;
}

.search{
  width:"80%";
   margin:"0 auto";
    padding:"20px";
}

.jumbotron {
  height:25rem;
  background:url("./images/teach4.jpg") no-repeat;
  background-size: cover;
  background-position: center center;

}

.textbox{
  background-color: rgba(91, 83, 83, 0.3);
  margin-right:2rem;
  height:70%;
  float:right;
  max-width:30%;
  width:auto;
  padding: 4rem 0;
  text-align:center;
}

.textbox h2{

  color:white;
  padding: 0 2rem
}

.textbox button {
  position:relative;
  top:1rem;
  width: 50%;
  background-color: #f01662;
  border:none;
  color:white;
  padding: 1rem 0;
  border-radius: 4rem;
}

.profile{
  display:"flex"; 
  margin-top:"2rem";
  background-color:"white";
  width:"auto";
   padding:"10rem";
   
}

.footer{
  background-color: #3f4145;
  height:5rem;
  width:100%;
  text-align:center;
  position: relative;
  top:5rem;
 
}

.footer p{
  color:white;
   padding-top:1.5rem
}




@media screen and (max-width: 760px) {
 body{
   width:100%;
 }
  .textbox{
    display:none;
  }

  .jumbotron{
    height:15rem
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
